*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 100px 50px;
}
body{
    text-align: center;
    margin: 15rem;
    font-family: 'Courier New', Courier, monospace;

}
input{
    height: 50px;
    width: 30rem;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid chartreuse;
    font-weight: 800;

}
#conv {
    margin-top: 50px;

}

button{
    height: 45px;
    width: 20rem;
    margin-top: 50px;
    text-align: center;
    border-radius: 7px;
    border: none;
    background-color: chartreuse;
    font-size: 25px;
    transition: 1ms;
    font-weight: 800;
}
button:hover{
    background-color: forestgreen;
    color: white;
    transition: 1s;
}
button:focus{
    border: none;
}
#error{
    display: none;
    height: 30px;
}
footer{
    margin-top: 25px;
a{
   color: forestgreen;
}
